{% if config.include is not empty %}
{% for includeItem in config.include %}
{% include components[includeItem].config.template with {
    'data': components[includeItem].data,
    'include': components[includeItem].config.include,
}
%}
{% endfor %}
{% endif %}