{%  if data.getters | length > 0 %}

{% for getter,config in data.getters %}
    {% if config.abstract is defined and config.abstract %}abstract {% elseif data.default.abstract is defined and data.default.abstract %}
        {{-  'abstract'  }} {% endif %}
    {%- if config.visibility is not empty %}{{ config.visibility }} {% else %}
        {{-  data.default.visibility  }} {% endif %}
    {%- if config.static is defined and config.static %}static {% elseif data.default.static is defined and data.default.static %}static {% endif %}
    {%- if config.static is defined and config.static %}static {% endif %}
    {{-  'function get' }}{{ config.property | ucfirst }}()
    {%- if config.return is not empty %}: {{ config.return }}{% endif %}

    {
        return $this->{{ config.property }};
    }
{% endfor %}
{% endif %}