{{ settings.escapePhpTag ? '<?php' | e : '<?php' }}{% if data.declareStrict %} declare(strict_types = 1);{%- endif %}

{% include 'vendor/' ~ config.renderscript.enginePackageTitle ~ '/src/Lib/templates/include.twig' %}